<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBaL9lJ1oF3fd_C8Ba8dP9fRQShpHYYZMk</string>
	<key>GCM_SENDER_ID</key>
	<string>169630386332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whiskiMaintenance</string>
	<key>PROJECT_ID</key>
	<string>whiski-maintenance-59477</string>
	<key>STORAGE_BUCKET</key>
	<string>whiski-maintenance-59477.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169630386332:ios:6f578617bc24b0a20ec559</string>
</dict>
</plist>